@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    background-color: black;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(1px);
}

.start-overlay {
    transform: scale(1);
    z-index: 100;

}

.over-overlay {
    top: 10%;
    height: 90%;
    transform: scale(0);
    z-index: 99;
}

.overlay-gif {
    height: 200px;
    width: 200px;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(5px);
    padding: 10px;
    border-radius: 10px;
}

.overlay-gif1 {
    background-image: url(./img/modi_gif1.gif);
}

.overlay-gif2 {
    background-image: url(./img/modi_gif2.gif);
}

.btn {
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    font-weight: 600;
    border-radius: 30px;
    cursor: pointer;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.btn:active {
    transform: scale(0.95);
}

main {
    width: 100%;
    height: 100%;
    padding: 0 30px;
    display: flex;
    flex-direction: column;
}

.top {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top h3 {
    padding: 5px;
    border: 1px solid black;
    font-size: 24px;
    font-weight: 600;
}

.bottom {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(50px, 1fr));
    height: 90%;
    width: 100%;
}

.block {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ca923d;
    border-radius: 50%;
}

.snake {
    background-image: url(./img/modi.jpg);
    background-size: cover;
    background-position: center;
}

.food {
    background-size: cover;
    background-position: center;
}
.credit{
    background-color: transparent;
    font-size: 16px;
}
.credit a {
    text-decoration: none;
    color: #ca923d;
    background-color: transparent;
}

.credit a i {
    color: #ca923d;
    background-color: transparent;
}

@media (max-width:792px) {

    .top h3 {
        font-size: 16px;
    }
}